*{
    text-align: center;
    background-color :black;
    font-family: Arial, Helvetica, sans-serif;
    color:white
}

table, td, th{
    border-collapse:collapse;
    border:1px solid rgb(131, 125, 125);
    background-color: black;
    color: white;
    text-align: center;
}

.voltar{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
} 


img[class]{
    width: 200px;
}