*{
    text-align: center;
}
body {
    margin: 0;
    display: grid;
    grid-template-areas: "header";
}
header{
    background-color: black;
    color: white;
    grid-area: header;
}
nav{
    background-color: yellow;
    grid-area: nav;
}
main{
    background-color: tan;
    grid-area: main;
}
aside{
    background-color: brown;
    grid-area: aside;
}
footer{
    background-color: blue;
    grid-area: footer;
}